.item1 {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#729efd, rgb(111,101,189));

  width: 100%;
  background-position: top;
  background-size: cover;
  position: relative;
}

/* .item1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 300px 300px;
  background-image: url("https://i.imgur.com/DzcqS6p.gif");
  background-repeat: repeat;
  opacity: .85;
  mix-blend-mode: overlay;
} */

.btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.slide {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text2 {
  text-align: center;
}

.buttons {
  z-index: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numbers-title {
  font-weight: bold;
  padding: 20px;
}
.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.numbers-content {
  width: 70vw;
  min-width: fit-content;

}

.number {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.number-title {
  font-size: 1.5rem;
}

.number-content {
  font-size: 1.5rem;
}