.img {
  z-index: 1;
  width: 20em;
  height: 100%;
  margin: 5px;
}

.staff-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-content {
  display: flex;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;
}

.text {
  margin: 10px;
  width: 400px;
  line-height: 2em;
}

.paragraph {
  line-height: 1.5;
}